.swiper-pagination-bullet-active {
  background-color: #19c1ce;
  height: 16px;
  width: 16px;
  left: 12px;
  top: 12px;
  border-radius: 0px;
}

.swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.swiper-pagination {
  position: static;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
