.swiper-pagination-bullet-active {
  background-color: #19c1ce;
  height: 16px;
  width: 16px;
}

.swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.swiper-pagination {
  position: static;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.swiper-div {
  @media (min-width: 1440px) {
    display: none;
  }
}
